!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %title= t(:title)
    %script{type: "text/javascript"}= @transition
    - if GrabFeeling::Config["jquery"]
      %script{src: GrabFeeling::Config["jquery"]}
    - else
      %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{src: "/js/i18n.js"}
    %script{src: "/js/grab_feeling.js"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/grab_feeling.css"}
  %body
    %canvas#the_canvas{width: 750, height: 550}
    %div#topic
    %div#player_list
    %div#logs
      %div.log#system_log
      %div#chat
        %div.log#chat_log
        %form#chat_form{action: "#"}
          %input#chat_field{type: 'text', size: '40'}
          %input{type: 'submit', value: t(:say), disabled: true}
    %div#clear
    %div#buttons
      %div.drawing_tool#colors
      %p.drawing_tool
        %input.width_button#width_1{type: 'button', value: t('ui.width.one')}
        %input.width_button#width_2{type: 'button', value: t('ui.width.two')}
        %input.width_button#width_3{type: 'button', value: t('ui.width.three')}
        %input.width_button#width_5{type: 'button', value: t('ui.width.five')}
        %input.width_button#width_10{type: 'button', value: t('ui.width.ten')}
      %p
        %input.drawing_tool#clear_button{type: 'button', value: t('ui.clear')}
      %p
        %input#snapshot{type: 'button', value: t('ui.snapshot')}
        %input.admin_tool#start_button{type: 'button', value: t('ui.start')}
    %form{action: "/g/#{@room.unique_id}/leave", method: "POST"}
      %input{type: "submit", name: "leave", value: t(:leave)}

