#the_canvas {
  border: 1px solid black;
}

.log {
  height: 100px;
  overflow: auto;
  width: 375px;
}

#system_log {
  height: 120px;
}

#chat_field {
  width: 320px;
}

.log p, #buttons p {
  margin: 0px;
  padding: 0px;
}

.color_button {
  width: 30px;
  border: 2px solid white;
}

.selected_color {
  border: 2px solid black;
}

#system_log {
  float: left;
}

#clear {
  clear: both;
  width:0;
  height:0;
  margin:0;
  padding:0;
}
